<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <!-- CSS -->
        <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/simple-sidebar.css}">
        <script th:href="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:href="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </head>
    <body>
    <div class="container-fluid">
        <th:block th:replace="${content}"></th:block>
    </div>
    </body>
</th:block>

</html>